<br class="top-spacing" />
<section class="container-fluid form-section">
  <div class="row">
    <div class="col-12">
      <mat-card class="main-cards">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>
              <h3 class="section-title">Criação de Sessão</h3>
            </mat-card-title>
            <mat-card-subtitle class="row">
              <p class="col">Aqui é possível criar uma nova sessão.</p>
            </mat-card-subtitle>
          </mat-card-title-group>
        </div>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required"> Lider da sessão </label>
                <input
                  matInput
                  placeholder="Insira o e-mail do(a) lider"
                  formControlName="leader"
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required"> Participantes </label>
                <input
                  matInput
                  placeholder="Insira os e-mails* dos participantes"
                  formControlName="participants"
                />
                <mat-hint>*Os emails devem ser separados por vírgula.</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>

      <div class="row justify-content-end">
        <div class="col-6 cancel-button-line">
          <button mat-raised-button class="submit-button" (click)="resetForm()">
            Cancelar
          </button>
        </div>
        <div class="col-6 save-button-line">
          <button
            mat-raised-button
            class="submit-button"
            [disabled]="!form.valid"
            [ngClass]="{ disabled: !form.valid }"
            (click)="saveForm()"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #required>
  <span>Campo obrigatório</span>
</ng-template>
