<br class="top-spacing" />
<section class="container-fluid form-section">
  <div class="row">
    <div class="col-12">
      <mat-card class="main-cards">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>
              <h3 class="section-title">Cadastro de Vagas</h3>
            </mat-card-title>
            <mat-card-subtitle class="row">
              <p class="col">
                Aqui é possível cadastrar novas vagas dentro do Sistema de Vagas
              </p>
            </mat-card-subtitle>
          </mat-card-title-group>
        </div>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Nome da Vaga
                </label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Tipo da Vaga
                </label>
                <input matInput formControlName="type" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required">
                  Descrição da Vaga
                </label>
                <input matInput formControlName="description" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label">
                  Remuneração
                </label>
                <input matInput type="number" formControlName="total_payment" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <p> Áreas de Interesse <span class="required-ast"> *</span>
            </p>
          </div>
          <div class="row">
            <div class=" col-3" *ngFor="let areaControl of getAreaOptions().controls; let i = index"
              formArrayName="areas">
              <mat-checkbox class="checkbox" [formControlName]="i" color="primary">
                <span class="checkbox-text">
                  {{ areaOptions[i]}}
                </span>
              </mat-checkbox>
            </div>
          </div>
        </form>
      </mat-card>

      <div class="row justify-content-end">
        <div class="col-6 cancel-button-line">
          <button mat-raised-button class="submit-button" (click)="resetForm()">
            Cancelar
          </button>
        </div>
        <div class="col-6 save-button-line">
          <button mat-raised-button class="submit-button" [disabled]="!form.valid" [ngClass]="{disabled:!form.valid}"
            (click)="saveForm()">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #required>
  <span>Campo obrigatório</span>
</ng-template>