.control-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #251916;
}
  
.control-label.required:after {
    color: #d00;
    content: '*';
    position: absolute;
    margin-left: 5px;
    top: 7px;
}

  .submit-button {
    background-color: #371511;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    min-width: 110px;
    min-height: 45px;
  }