.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-section {
  margin-top: 15px;
  margin-left: 1vw;
}

.main-cards {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.save-button-line {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.cancel-button-line {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.submit-button {
  background-color: #371511;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  min-width: 110px;
  min-height: 45px;
}

.remove-button {
  color: #371511;
  border-radius: 6px;
  background-color: white;
  text-transform: uppercase;
  min-width: 110px;
  min-height: 45px;
}

.control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #251916;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.required-ast {
  color: #d00;
}

.add-remove-wrapper {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: medium;
  color: var(--primary);
  font-weight: 600;
}

.edit-icon {
  margin-right: 15px;
}

.full-width {
  width: 100%;
  margin: 10px;
}

.disabled {
  opacity: 0.35;
}

.icon {
  cursor: pointer;
}

.sessions-table {
  width: 100%;
  margin-bottom: 40px;
  background-color: #ddc68d;
}

.table-header {
  color: #03182c;
  font-weight: bold;
}

.sessions-table .mat-row:nth-child(even) {
  background-color: #dbe0ec;
}

.sessions-table .mat-row:nth-child(odd) {
  background-color: #fefbe7;
}

.icon {
  cursor: pointer;
}
