<br class="top-spacing" />
<section class="container-fluid form-section">
  <div class="row">
    <div class="col-12">
      <mat-card class="main-cards">
        <div class="row">
          <mat-card-title-group>
            <mat-card-title>
              <h3 class="section-title">Crie sua sessão</h3>
            </mat-card-title>
            <mat-card-subtitle class="row">
              <p class="col">
                E envie convites para que outros possam participar.<br />
                Lembre-se: apenar usuários cadastrados podem participar ou ser
                lider de sessões.
              </p>
            </mat-card-subtitle>
          </mat-card-title-group>
        </div>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required"> Lider </label>
                <input
                  matInput
                  placeholder="Insira o e-mail do(a) lider"
                  formControlName="leader"
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required"> Nome da sessão </label>
                <input
                  matInput
                  placeholder="Insira o nome da sessão"
                  formControlName="name"
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width" appearance="fill">
                <label class="control-label required"> Participantes </label>
                <input
                  matInput
                  placeholder="Insira os e-mails dos participantes"
                  formControlName="participants"
                />
                <mat-hint>Os emails devem ser separados por vírgula.</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>

      <div class="row justify-content-end">
        <div class="col-6 cancel-button-line">
          <button mat-raised-button class="submit-button" (click)="resetForm()">
            Cancelar
          </button>
        </div>
        <div class="col-6 save-button-line">
          <button
            mat-raised-button
            class="submit-button"
            [disabled]="!form.valid"
            [ngClass]="{ disabled: !form.valid }"
            (click)="saveForm()"
          >
            Criar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #required>
  <span>Campo obrigatório</span>
</ng-template>

<ng-template #errorDialog>
  <h2 matDialogTitle>Erro ao criar sessão</h2>
  <p matDialogContent>
    <em>Verifique se os dados inseridos estão corretos.</em>
  </p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>OK</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 matDialogTitle>Sucesso</h2>
  <p matDialogContent><em>Sessão criada com sucesso!</em></p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>OK</button>
  </mat-dialog-actions>
</ng-template>
