<div class="container-fluid no-padding" *ngIf="isLoggedIn(); else loginPage">
  <div class="row wrapper">
    <div class="col-2 sidebar">
      <h3 class="section-title title-margin">Agora</h3>
      <ul>
        <li class="row" routerLinkActive="active">
          <a routerLink="profile" class="w3-bar-item w3-button options"
            >Meu Perfil</a
          >
        </li>
        <li class="row" routerLinkActive="active">
          <a routerLink="my-sessions" class="w3-bar-item w3-button options"
            >Minhas Sessões</a
          >
        </li>
        <li class="row" routerLinkActive="active">
          <a routerLink="session-create" class="w3-bar-item w3-button options"
            >Nova Sessão</a
          >
        </li>
      </ul>
      <button type="button" (click)="logout()" class="logout-button">
        Sair
      </button>
    </div>
    <div class="col-10 main-panel">
      <br />
      <h2 class="section-title">Gerenciamento de Sessões</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #loginPage>
  <div class="container-fluid no-padding">
    <div class="row wrapper">
      <div class="login-panel">
        <br />
        <h2 class="section-title">Gerenciamento de Sessões</h2>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
